#video-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 24px;
}

#video-main {
  width: calc(1920px * 0.56);
  height: calc(1440px * 0.56);
}

#sub-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#video-sub {
  width: calc(1920px * 0.36);
  height: calc(1440px * 0.36);
  align-self: flex-end;
}

#tweet {
  width: calc(1920px * 0.36);
}

#twitter-user {
  display: flex;
  flex-direction: row;
}

#twitter-id {
  align-self: center;
}

#twitter-icon {
  display: inline-block;
}

#info-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 24px;
}

#run-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.info-box .label {
  position: absolute;
}

#times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-box {
  width: 24%;
}
