#main {
  margin: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#video {
  width: calc(1920px * 0.84);
  height: calc(1080px * 0.84);
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.info-box {
  margin-top: 8px;
}

#tweet {
  margin-bottom: auto;
}

#twitter-icon {
  display: block;
}
