#container {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  font-family: 'Staatliches', sans-serif;
}

header {
  margin-top: 16px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

#logo {
  height: 100%;
  margin-right: calc(1080px * 0.02);
}

#title p {
  margin-top: -0.2em;
  margin-bottom: 0;
  line-height: 1.2em;
}

#game-title {
  font-size: 1.9em;
  font-weight: bolder;
}

#category-platform {
  font-size: 1.2em;
}

#main {
  margin: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#video {
  width: calc(1920px * 0.84);
  height: calc(1080px * 0.84);
  background-color: gray;
  opacity: 50%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.info-box {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid gray;
  margin-top: 8px;
  padding-bottom: 2px;
}

.info-box .label {
  font-size: 1.2em;
  line-height: 1em;
  color: rgba(0, 0, 0, 70%);
}

.info-box .name {
  font-size: 1.15em;
  line-height: 1.2em;
  font-weight: bold;
  text-align: right;
}

.info-box .account {
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: bold;
  text-align: right;
}

.info-box .time {
  font-size: 2em;
  line-height: 1em;
  text-align: right;
}

.info-box .time.suspend {
  color: rgba(0, 0, 0, 50%);
}

.info-box .time.complete {
  color: rgb(0, 65, 255);
}

#tweet {
  margin-bottom: auto;
}

#tweet .label {
  font-size: 1.4em;
}

#tweet .box {
  padding: 8px;
}

#twitter-user {
  padding-bottom: 8px;
  border-bottom: 1px solid gray;
  font-size: 0.7em;
  font-weight: bold;
}

#twitter-icon {
  display: block;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 16px;
}

#tweet-text {
  padding-top: 8px;
  font-size: 0.7em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
  font-size: 1.2em;
  line-height: 1em;
  color: dimgray;
  background-color: rgba(255, 255, 255, 80%);
}

#hashtag-guide {
  font-family: 'Staatliches', sans-serif;
}
