#main {
  margin: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#video {
  width: calc(1920px * 0.84);
  height: calc(1080px * 0.84);
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.info-box {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid gray;
  margin-top: 8px;
  padding-bottom: 2px;
}

.info-box .label {
  font-size: 1.2em;
  line-height: 1em;
  color: rgba(0, 0, 0, 70%);
}

.info-box .name {
  font-size: 1.15em;
  line-height: 1.2em;
  font-weight: bold;
  text-align: right;
}

.info-box .account {
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: bold;
  text-align: right;
}

#tweet {
  margin-bottom: auto;
}

#twitter-icon {
  display: block;
}
